body
{
     margin: 0;
     background: #121212;
     color: #DEDEDE;
}



.page_wrapper
{
     padding-top: 75px;
     min-height: 87%;
}


.page_title
{
     margin-top: 2.5%;
     margin-left: 3%;
     display: inline-block;

     font-family: Sawasdee;
     font-size: 54px;
     font-weight: 400;
}



p
{
     margin: 5% 10% 5% 10%;
     font-size: 30px;
}
