
/* Mobile */

footer
{
     width: 100%;
     height: 100px;

     background-color: #202020;
}



footer label
{
     display: flex;
     justify-content: center;
     margin-top: 25px;

     font-family: Sawasdee;
     font-size: 20px;
     color: #CACACA;
}



.footer-links
{
     display: flex;
     flex-direction: row;
     justify-content: center;
}



.footer-links a
{
     display: inline-block;
     margin-top: 15px;
     margin-left: 20px;
     margin-right: 20px;


     font-family: Sawasdee;
     font-size: 20px;
     color: white;
     text-decoration: none;
}




/* Desktop */
@media only screen and (min-width: 950px)
{
     footer
     {
          height: 50px;
          display: flex;
          flex-direction: row;
     }


     footer label
     {
          margin-top: 15px;
          margin-left: auto;
          margin-right: 20px;
     }


     .footer-links
     {
          margin-left: 0;
          justify-content: flex-start;
     }


     .footer-links a
     {
          margin-top: 15px;
          margin-left: 20px;
     }
}
