

/* Mobile */
#navbar
{
     z-index: 10;
     position: fixed;
     width: 100%;
     height: 90px;
     display: flex;
     flex-direction: column;

     background-color: #202020;
     opacity: 90%;
}




.logo
{
     display: flex;
     flex-direction: row;
     margin-left: auto;
     margin-right: auto;
}


.logo img
{
     float: left;
     width: 30px;
     height: 30px;
     margin-top: 16px;
}


.logo h1
{
     color: white;
     font-family: OpenSans;
     font-weight: lighter;
     font-size: 24px;
     float: left;
     margin-top: 15px;
     margin-left: 15px;
}





.navbar-links
{
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
}


.navbar-links a
{
     display: inline-block;

     margin-top: -15px;
     margin-left: auto;
     margin-right: auto;

     color: white;
     font-family: OpenSans;
     font-size: 18px;
     text-decoration: none;
     transition-duration: 0.2s;
}




.navbar-links a:hover
{
     border-bottom: 4px solid white;
}



#sideNav-btn {
     background-image: url("/res/nav-hamburger.png")
}

#sideNav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;

     display: flex;
     flex-direction: column;
     justify-content: center;
     
     overflow-x: hidden;
     background-color: black;
     transition: 0.25s;
}

#sideNav a {
     margin: 2% auto 2% 0;
     padding-left: 10%;

     font-size: 30px;
     text-decoration: none;
     cursor: pointer;
     color: white;
     transition: 0.15s;
}

#sideNav a:hover {
     border-left: 15px solid white;
}





/* Desktop */
@media only screen and (min-width: 950px)
{
     #navbar
     {
          height: 60px;
          flex-direction: row;
     }


     .navbar-links
     {
          margin-left: auto;
     }


     .navbar-links a
     {
          display: inline-block;
          overflow: visible;
          margin-right: 20px;
          margin-top: 15px;
          font-size: 24px;
     }


     .logo
     {
          margin-left: 25px;
     }


     .logo img
     {
          float:left;
          width: 40px;
          height: 40px;
          margin-top: 10px;
     }


     .logo h1
     {
          color: white;
          font-weight: lighter;
          font-size: 30px;
          float: left;
          margin-top: 10px;
     }
}
