

/* Mobile */
#navbar
{
     z-index: 1;
     position: fixed;
     width: 100%;
     height: 100px;
     display: flex;
     flex-direction: column;

     background-color: #202020;
     opacity: 90%;
}




.logo
{
     display: flex;
     flex-direction: row;
     margin-left: auto;
     margin-right: auto;
}


.logo img
{
     float: left;
     width: 40px;
     height: 40px;
     margin-top: 16px;
}


.logo h1
{
     color: white;
     font-family: OpenSans;
     font-weight: lighter;
     font-size: 28px;
     float: left;
     margin-top: 15px;
     margin-left: 15px;
}





.navbar-links
{
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
}


.navbar-links a
{
     display: inline-block;

     margin-top: -20px;
     margin-left: auto;
     margin-right: auto;

     color: white;
     font-family: OpenSans;
     font-size: 18px;
     text-decoration: none;
     transition-duration: 0.2s;
}




.navbar-links a:hover
{
     border-bottom: 8px solid #0077ff;
}





/* Desktop */
@media only screen and (min-width: 950px)
{
     #navbar
     {
          height: 60px;
          flex-direction: row;
     }


     .navbar-links
     {
          margin-left: auto;
     }


     .navbar-links a
     {
          display: inline-block;
          overflow: visible;
          margin-right: 20px;
          margin-top: 15px;
          font-size: 24px;
     }


     .logo
     {
          margin-left: 25px;
     }


     .logo img
     {
          float:left;
          width: 40px;
          height: 40px;
          margin-top: 10px;
     }


     .logo h1
     {
          color: white;
          font-weight: lighter;
          font-size: 30px;
          float: left;
          margin-top: 10px;
     }
}
