body
{
     margin: 0;
     background: #121212;
     color: #DEDEDE;
}


a
{
     color: #DEDEDE;
}





.items
{
     margin-top: 2.5%;
     margin-bottom: 7.5%;
}





.items li
{
     width: 90%;
     height: 150px;
     padding-left: 1.25%;
     margin-top: 1.5%;
     margin-left: auto;
     margin-right: auto;

     display: flex;
     flex-direction: column;
     justify-content: center;

     border: 2px solid #DEDEDE;
}



.item_id
{
     font-size: 18px;
     font-family: Sawasdee;
     text-decoration: none;
}



.item_title
{
     margin-top: 0.25%;

     font-size: 30px;
     font-family: Sawasdee;
     font-weight: bold;
     text-decoration: none;
}



.item_description
{
     margin-top: 1%;

     font-family: Sawasdee;
     font-size: 24px;
}
